
 h1 {
  text-align: center;
  padding-top: 50px;
}

.cyrcle h1 {
  text-align: center;
  color: black;
  padding-top: 20px;
  font-size: 54px;
}

.cyrcle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /*disable text selector*/
}

.cyrcle.odd {
  background-color: #00ff00;
}
.cyrcle.pink {
  background-color: pink;
}

.cyrcle:hover {
  cursor: context-menu; /*to change pointer*/
}

.cyrcle.even {
    background-color: #00FFFF;
  }

.cyrcle.original {
    background-color: black;
  }

.reset {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.madeInReact {
  position: absolute;
  bottom: 0%;
  right: 0;
}
 
.butt {
  border: none;
  outline: none;
  margin-left: 20px;
  margin-top: 20px;
  width: 120px;
  font-size: 18px;
  padding: 15px;
}
.butt:active {
  background-color: burlywood;
}