
 h1 {
  text-align: center;
  padding-top: 50px;
}
.cyrcle h1 {
  text-align: center;
  color: black;
  padding-top: 20px;
  font-size: 54px;
}

.cyrcle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: lightgreen;
  border-radius: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; /*disable text selector*/

}
.cyrcle:hover {
  cursor: context-menu; /*to change pointer*/
}
.cyrcle.even {
    background-color: #00FFFF;
  }
.cyrcle.original {
    background-color: black;
  }
.reset {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.madeInReact {
  position: absolute;
  bottom: 0%;
  right: 0;
}
 
.buttLess {
  margin-left: 20px;
  margin-top: 20px;
}
.butt {
  margin-left: 30px;
}